

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
input {
    width: 85%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 13px;
    outline: none;
}

  

.tareas {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    padding: 10px 20px;
    margin: auto;
    min-height: 40vh;
    color: rgb(0, 0, 0);
}

li {
    list-style: none;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 15px;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}
span {
    visibility: hidden; 
    padding: 0.5rem 0.5rem;
    background: #d9534f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
li:hover span {
    visibility: visible; 
}
.text-danger {
    color: rgb(255, 255, 255) !important;
}
.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgb(255 0 0) !important;
}
.text-dark {
    --bs-text-opacity: 1;
    color: #fff !important;
}
.down {
    display: flex;
    align-items: center;
    justify-content: space-between;
}